.drop_zone_wrapper {
	border-radius: 30px;
	background: #f6f1f1;
	mix-blend-mode: darken;
	max-height: 430px;
	max-width: 80%;
	margin: auto;
	padding: 20px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.drop_zone {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 40px;
	border-radius: 30px;
	background: rgba(1, 1, 1, 0.06);
	border: 1px dashed #73c66d;
}

.drop_zone__icon {
	height: 128px;
}

.drop_zone__text {
	color: #000;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-align: center;
	max-width: 550px;
	overflow-y: hidden;
	text-overflow: ellipsis;

	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}

.drop_zone__text::-webkit-scrollbar {
	display: none;
}

.form__input {
	display: none;
}

.choose_file {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 28px;
}
