.header {
	width: 100%;
	padding: 24px 100px;
	position: sticky;
	top: 0;
	background-color: #fff;
}

.header span:hover {
	cursor: pointer;
}

.title {
	color: #000;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
