@import url(./colors.css);
@import url(./font/stylesheet.css);

* {
	box-sizing: border-box;
	font-family: "Montserrat";
}

button,
a {
	padding: 0;
	margin: 0;
	outline: hidden;
	border: none;
	background: none;
	text-decoration: none;
}

button:hover,
button:active,
a:active,
a:hover {
	cursor: pointer;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	padding-bottom: 142px;
}

@keyframes fadeSlideIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}